{% extends 'main/layout.html' %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <div class='features'>
    <h1>{{ title }}</h1>
    <p>Это текст заглушка.  Написанно чтобы занять место. Лучше смотреть и читать этот текст, чем смотреть на пустую станицу. Nfhfvgfgfgfgfg fgfgflksdlfksd;lkf ;lskdf;slkdf;lsdkdf;lk sldfk;dslkf;sdlkf;sldfk</p>
    <button class="btn btn-warning">На станицу про нас</button>
    {% for el in values %}
        <p>{{ el }}</p>
    {% endfor %}
     {% for el in obj %}
        <p>{{ el }}</p>
    {% endfor %}
    </div>
{% endblock %}
